<table class="table table-hover table-striped">
	<thead>
		<th>Placa</th>
		<th>Chassi</th>
		<th>Renavam</th>
		<th>Modelo</th>
		<th>Marca</th>
		<th>Ano</th>
	</thead>

	<tbody>
		<tr *ngFor="let veiculo of veiculos | async">
			<td>{{veiculo.placa}}</td>
			<td>{{veiculo.chassi}}</td>
			<td>{{veiculo.renavam}}</td>
			<td>{{veiculo.modelo}}</td>
			<td>{{veiculo.marca}}</td>
			<td>{{veiculo.ano}}</td>
			<td>
				<button class="btn btn-info" (click)="edit(veiculo, veiculo.key)">Editar</button>
				<button class="btn btn-danger ml-2" (click)="delete(veiculo.key)">Excluir</button>
			</td>
		</tr>
	</tbody>
</table>
